body{
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
  align-items: center;
  background: var(--gray-600);
}

.title{
  color: var(--white);
}

.btn{
  background: var(--purple-600);
  color: var(--white);
}

.btn:hover{
  background: var(--purple-400);
  color: var(--white);
  outline: none;
  transition: 0.3s;
}